<!DOCTYPE html>
<html lang="en">
<head>
    <title>node-inipay</title>

    <!--<meta http-equiv="Content-Type" content="text/html;charset=euc-kr"/> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        body { background-color: #efefef;}
        body, tr, td {font-size:9pt; font-family:굴림,verdana; color:#433F37; line-height:19px;}
        table, img {border:none}
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <button ng-click="paybtn()" style="padding:10px">결제요청</button>

    <form id="SendPayForm_id" method="POST">
        P_GOODS : <input type="text" name="P_GOODS" value="{{orderData.goodName}}" /><br/>
        P_MID : <input type="text" name="P_MID" value="{{orderData.mid}}" /><br/>
        P_AMT : <input type="text" name="P_AMT" value="{{orderData.price}}" /><br/>
        P_OID : <input type="text" name="P_OID" value="{{orderData.oid}}" /><br/>
        P_EMAIL : <input type="text" name="P_EMAIL" value="abc@abc.com" /><br/>
        P_UNAME : <input type="text" name="P_UNAME" value="홍길동" /><br/>
        P_NEXT_URL : <input type="text" name="P_NEXT_URL" value="{{httpsDomain+'/mobile/return'}}" /><br/>
        PayMethod :
        <select ng-model="reqURL" form="SendPayForm_id">
            <option ng-repeat="method in payMethods" value="{{linkDic[method]}}">{{method}}</option>
        </select>
    </form>

    <hr/>
    reqURL: {{ reqURL }} <br/>
    linkDic: {{ linkDic }}

</div>

<script src="/js/common.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';
        $http.defaults.headers.put['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';
        $http.defaults.headers.delete = {};
        $http.defaults.headers.delete['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';
        $http.defaults.withCredentials = true;

        // Scope Setting
        $scope.httpDomain = httpDomain;
        $scope.httpsDomain = httpsDomain;

        $scope.reqURL = "";
        $scope.linkDic = {};
        $scope.orderData = {};
        $scope.payMethods = [];

        var queryDic = getQueryDic(window.location.search);

        var api = {
            get:function(url, callback, errCallback){
                if(!callback) callback = alertCallback;
                if(!errCallback) errCallback = alertCallback;
                $http.get(url).then(callback, errCallback);
            },
            post:function(url, data, callback, errCallback){
                if(!callback) callback = alertCallback;
                if(!errCallback) errCallback = alertCallback;
                $http.post(url, $.param(data)).then(callback, errCallback);
            },
            put:function(url, data, callback, errCallback){
                if(!callback) callback = alertCallback;
                if(!errCallback) errCallback = alertCallback;
                $http.put(url, $.param(data)).then(callback, errCallback);
            },
            delete:function(url, data, callback, errCallback){
                if(!callback) callback = alertCallback;
                if(!errCallback) errCallback = alertCallback;
                $http.delete(url,{data:$.param(data)}).then(callback, errCallback);
            }
        };

        // load request data
        api.get(httpsDomain+"/mobile", function (res) {
            console.log("res", res.data);
            $scope.orderData = res.data.orderData;
            $scope.payMethods = Object.keys(res.data.payMethods);
            $scope.linkDic = res.data.payMethods;
        });

        $scope.paybtn = function(){
            document.getElementById("SendPayForm_id").setAttribute("action", $scope.reqURL);
            document.getElementById('SendPayForm_id').submit();
        }
    });
</script>

</body>
</html>